:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* My custom */
  --secondary: #9a9d9f;
  --message-input-height: 48px;
  --chatBox-text-color: #dee9ff;
  --primary-color: #6a8bfc;
  --third: #2e343d;
}

.a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}

.a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn {
  background-color: #6a8bfc;
  border: none;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.custom-input {
  color: white;
  border: none;
  box-shadow: none;
}

.custom-input::placeholder {
  color: #9a9d9f;
  border: none;
}

.custom-input:focus {
  border-color: var(--secondary);
  /* Border color on focus */
  box-shadow: none;
  /* Optional: remove box shadow on focus */
}

.chat-list-item:hover {
  background-color: #2e343d;
  border-radius: 30px;
  cursor: pointer;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--secondary);
}

.flip {
  transform: scale(-1, 1);
  color: #1c87c9;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.secondary {
  color: var(--secondary) !important;
}

.stick-bottom {
  position: fixed;
  top: calc(100% - var(--message-input-height));
  z-index: 1;
}

.my-vh-100 {
  height: calc(100% - var(--message-input-height) - 18px);
}

.my-text-primary {
  color: var(--chatBox-text-color);
}

.my-bg-primary-color {
  background-color: var(--primary-color);
}

.my-bg-third-color {
  background-color: var(--third);
}

.my-hover {
}

/* remove dropdown arrow */

.dropdown-toggle::after {
  display: none !important;
}
